/*Style for whole body*/
body {
  font-size: 17px;
  margin:55px;
  font-family:Helvetica;
}

/*Style for the whole table*/
table, th, td {
  width:60%; 
  border-collapse:collapse; 
  margin: 10px auto;
  border: 2px solid black;
}

/*Style for only the table heading*/
th {
  background-color:rgb(240, 240, 240);
}

/*Style for the table heading and data*/
th, td {
    padding: 5px;
    text-align: left;
}

/*Style for only the table rows*/
tr {
    background-color: white;
    color: black;
}

/*HTML Reference Page Style*/
.headingstyle {
  color: DodgerBlue;
  text-align: center;
  background-color: rgb(240, 240, 240) ;
}

/*Style for each section heading*/
h2 {
  font-size:20px; 
}

/*Style for each section heading*/
h2 span {
  background-color:LightGray;
}

/*Style for Example sections*/
.example {
  margin: 15px;
}
.content {
  margin: 15px;
  width: 60;
  border-left: thick solid DodgerBlue;
  background-color:white;
}

 .box {
    width: 300px;
    height: 150px;
    margin: 20px;
    background-color: rgb(240, 240, 240);
    box-shadow: 4px 4px 4px #888888;
 }
  .box2 {
    width: 300px;
    height: 530px;
    margin: 20px;
    background-color: rgb(240, 240, 240);
    box-shadow: 4px 4px 4px #888888;
 }
