/*Navigation Bar*/
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
    background-color: white;
    overflow: hidden;
    margin-right: 50px;
    position: fixed; /* Sets the navbar to fixed position */
    top: 0; /* Positions the navbar at the top of the page */
    width:100%;
    z-index: 10;
    font-size:23px;

}

li {
  float: right;
  background: white;
}

ul p {
    float: left;
    position: fixed;
    font-size:23px;
    border:1px solid black;
    padding: 5px;
    margin: 10px 15px 15px 10px;

}

li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 17px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #ddd;
}


.image {
  background-color:#A2B9D1;
  background-size: cover;
  background-position: center;
  height: 200px;
  margin-left: 50px;
  margin-right: 50px;
}
.rome {
  background-image: url('/images/romedestinations.jpg');
  float: left; 
  height: 8em;
  margin-right: 1%; 
  margin-bottom: 0.5em;
  width:385px;
  display:block;
  margin-left:50px;
  margin-top:20px;
  background-size:cover;
  text-decoration:none;
  color:white;
  font-family: 'Open Sans', sans-serif;
  font-size:30px;
  text-align:center;
}

.paris {
  background-image: url('/images/parisdestinations.jpg');
  float: left; 
  height: 8em;
  margin-right: 1%; 
  margin-bottom: 0.5em;
  width:385px;
  display:inline-block;
  margin-left:20px;
  margin-top:20px;
  background-size:cover;
  text-decoration:none;
  color:white;
  font-family: 'Open Sans', sans-serif;
  font-size:30px;
  text-align:center;
}

.greece {
  background-image: url('/images/greecedestinations.jpg');
  float: left; 
  height: 8em;
  margin-right: 1%; 
  margin-bottom: 0.5em;
  width:385px;
  display:inline-block;
  margin-left:20px;
  margin-top:20px;
  background-size:cover;
  text-decoration:none;
  color:white;
  font-family: 'Open Sans', sans-serif;
  font-size:30px;
  text-align:center;
}

.prague {
  background-image: url('/images/praguedestinations.jpg');
  float: left; 
  height: 8em;
  margin-right: 1%; 
  margin-bottom: 0.5em;
  width:385px;
  display:inline-block;
  margin-left:50px;
  margin-top:20px;
  background-size:cover;
  text-decoration:none;
  color:white;
  font-family: 'Open Sans', sans-serif;
  font-size:30px;
  text-align:center;
}

h1 { 
  font-family: Roboto;
	font-size:50px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 10px;
	color:white;
	text-align:center; 
}

.header {
  font-family: Roboto;
	font-size:32px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 0px;
	color:#535f6b;
	text-align:center; 
}
