/*Navigation Bar*/
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
    background-color: white;
    overflow: hidden;
    position:fixed;
    width:100%;
    top:0;
    font-size: 23px;
}

li {
  float: right;
  background: white;
}

ul p {
    float: left;
    position: fixed;
    font-size:23px;
    border:1px solid black;
    padding: 5px;
    margin: 10px 15px 15px 10px;

}

li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 17px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #ddd;
}


.image {
  background-image:url('https://res.cloudinary.com/holiday-images/image/upload/q_auto:eco,f_auto,w_1600,h_900,c_fill,q_auto:eco,f_auto/v1432726642/Topflight_Italy_Rome_2_vr5xgp.jpg');
  background-size: cover;
  background-position:center;
  height: 300px;
}
.rome {
  color:white;
  text-align: center;
  font-family: Helvetica;
  font-size: 30px;
}


.overview {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color:#333;
  text-align: center;
  width:50%;
  margin-left:320px;
  font-size:25px;
}

table {
  text-align:center;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border:6px;
}

th {
  font-size:20px;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  padding-top: 1em;
  color:#333;
  width:100px;
  padding-bottom: 1em;

}

td {
  border:10px;
  padding: 5px;
  text-align:left;
  overflow: hidden; 
  font-size:20px;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  color:#333;
}

td img {
  width:100px; 
  height:100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
